body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  background-image: url(images/sparkle\ bgd.webp);
}

.header {
  min-height: 100px;
}

h1 {
  font-family: "Montagu Slab", serif;
  text-align: center;
  font-size: 3rem;
  color: snow;
  text-shadow: 1px 1px 6px rgb(160, 52, 70), 2px 2px 10px rgb(151, 77, 89);
}

.main {
  flex-grow: 1;
  margin: 0 auto;
}

.footer {
  min-height: 100px;
}

.calcOutput {
  color: seashell;
  background-color: rgba(112, 128, 144, 0.452);
  font-size: large;
  text-align: end;
  border: 3px solid rgba(255, 250, 250, 0.705);
  border-radius: 6px;
}

#operandOne {
  min-height: 2.3rem;
  width: 20rem;
  font-size: x-large;
}

#operandTwo {
  min-height: 1.7rem;
  width: 20rem;
}

.calcBtns {
  background-color: rgba(112, 128, 144, 0.664);
  border-radius: 15px;
}

.calcRow {
  display: flex;
  flex-direction: row;
  width: 20rem;
}

.btnArea {
  width: 25%;
}

.bigger {
  width: 50%;
}

button {
  font-family: "Roboto Mono", monospace;
  margin: 1px;
  width: 100%;
  height: 4rem;
  font-size: x-large;
  background-image: linear-gradient(
    120deg,
    rgb(224, 177, 224),
    rgb(223, 96, 223)
  );
  border-radius: 12px;
}

button:hover {
  background-image: linear-gradient(
    240deg,
    rgb(224, 177, 224),
    rgb(223, 96, 223)
  );
}

.move {
  background-image: linear-gradient(
    120deg,
    rgb(163, 154, 223),
    rgb(105, 90, 202)
  );
}

.move:hover {
  background-image: linear-gradient(
    240deg,
    rgb(163, 154, 223),
    rgb(105, 90, 202)
  );
}

#clr {
  background-image: linear-gradient(120deg, powderblue, rgb(59, 158, 172));
}

#clr:hover {
  background-image: linear-gradient(240deg, powderblue, rgb(59, 158, 172));
}

#plusMinus {
  background-image: linear-gradient(
    120deg,
    rgb(201, 240, 209),
    rgb(138, 231, 157)
  );
}

#plusMinus:hover {
  background-image: linear-gradient(
    240deg,
    rgb(201, 240, 209),
    rgb(138, 231, 157)
  );
}

#bkspc {
  background-image: linear-gradient(
    120deg,
    rgb(246, 221, 198),
    rgb(251, 185, 126)
  );
}

#bkspc:hover {
  background-image: linear-gradient(
    240deg,
    rgb(246, 221, 198),
    rgb(251, 185, 126)
  );
}

#equals {
  background-image: linear-gradient(
    120deg,
    rgb(221, 106, 154),
    rgb(197, 11, 88)
  );
}
#equals:hover {
  background-image: linear-gradient(
    240deg,
    rgb(221, 106, 154),
    rgb(197, 11, 88)
  );
}
