body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

.header {
  min-height: 100px;
}

.main {
  flex-grow: 1;
  margin: 0 auto;
}

.footer {
  min-height: 100px;
}

#operandOne {
  min-height: 2.3rem;
  width: 20rem;
  border: 1px solid black;
}

#operandTwo {
  min-height: 1.7rem;
  width: 20rem;
  border: 3px solid red;
}

.calcRow {
  display: flex;
  flex-direction: row;
  width: 20rem;
}

button {
  height: 48px;
  width: 48px;
  font-family: "Roboto Mono", monospace;
  margin: 1px;
}
